<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaulHref ="" ></ion-back-button>
    </ion-buttons>
    <ion-title>Listagem Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscren]="true">

  <div id="container">
    <form [formGroup]="produtoForm" *ngFor=!modoEdicao (submit)="enviar()">
      <ion-item lines="none">
        <ion-label position="floating">Produto:</ion-label>
        <ion-input formControlName="produto"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Valor:</ion-label>
        <ion-input formControlName="valor"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Quantidade:</ion-label>
        <ion-input formControlName="quantidade"></ion-input>
      </ion-item>

      <ion-button padding shape="round" expand="block" type="submit">Salvar</ion-button>
    </form>

    <ion-item *ngFor="let arrayProduto of arrayProduto">
      <ion-label>
        {{arrayProduto.produto}}
      </ion-label>
      <ion-button>editar</ion-button>
      <ion-button>excluir</ion-button>
    </ion-item>
    <ion-item>
      <ion-button padding shape="round" expand="block" click="exibir()">Adc</ion-button>
    </ion-item>
  </div>

</ion-content>
