<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaulHref ="" ></ion-back-button>
    </ion-buttons>
    <ion-title>
      Listagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listagem</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item *ngFor="let arrayProduto of arrayProduto">
      <ion-label>
        {{produto.produto}}
      </ion-label>
    </ion-item>
  </div>
</ion-content>


